@import "tailwindcss";

@theme {
    --font-mono: "Necto Mono", sans-serif;
    --font-display: "Departure Mono", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Departure Mono;
    font-style: normal;
    src: url('../assets/fonts/DepartureMono-Regular.otf');
}

@font-face {
    font-family: Necto Mono;
    font-style: normal;
    src: url('../assets/fonts/NectoMono-Regular.woff');
}

@layer base {
    a:hover {
        @apply text-violet-300;
    }
    
    main a {
        @apply text-violet-400 underline underline-offset-4 decoration-1 decoration-dashed;
    }

    main a:after {
        content: " \2197\FE0E";
    }
}