@import "tailwindcss";

@theme {
    --font-mono: "Necto Mono", sans-serif;
    --font-display: "Departure Mono", sans-serif;
    --color-bg: oklch(15.91% 0 0);
    --color-
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Departure Mono;
    font-style: normal;
    src: url('../assets/fonts/DepartureMono-Regular.otf');
}

@font-face {
    font-family: Necto Mono;
    font-style: normal;
    src: url('../assets/fonts/NectoMono-Regular.woff');
}

@layer base {
    a:hover {
        @apply text-violet-400;
    }
    
    main a {
        @apply underline underline-offset-4 decoration-1 decoration-dashed;
    }
}